*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

:root{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;

    --sound-select-default: #1414eb;
    --bg-default: #121214;
    --select-icon: #ffffff;
    
    --sound-light: #11495a;
    --sound-select-light: #02799D;
    --select-icon-light: #2d4e58;
    --timer-color-light:#2f6779;
    --bg-light:#d1d1d4;
}

body{
    display: grid;
    place-content: center;

    height: 100vh;
    width: 100vw;
    background-color: var(--bg-default);
}

main{
    display: flex;
    justify-content: space-between;
    gap: 19.2rem;

    width: 82.1rem;

}

span{
    font-family: 'Roboto';

    font-size: 12.6rem;
    line-height: 14.8rem;
    text-align: center;

    color: var(--sound-select-default);
}

input[type='range']{
    cursor: pointer;
}

.crono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32.1rem;
}

.controls{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-evenly;

}

.ambience{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    
    width: 30.8rem;
}

.play, .stop, .more, .less, .florest, .rain, .coffeeShop, .bonfire{
    cursor: pointer;
}

.play svg path, .stop svg path, .more svg path, .less svg path{
    fill: var(--sound-select-default);
    
}

.select svg path + path{
    fill:var(--select-icon);
}

.select svg path {
    fill: var(--sound-select-default);
}

/* lightMode */

.timer.light  span{
    color:var(--timer-color-light);
}

.light svg path + path{
    fill: var(--select-icon);
} 

.light svg path{
    fill:var(--sound-select-light);
}
.appearance{
    cursor:pointer;
    height: 5.5rem;
    position: absolute;
    right: 7.5rem;
    top: 7.5rem;
}

.mode{
    display: none;  
}

.light{
   background:var(--bg-light); 
}

.play.light svg path,
.stop.light svg path,
.more.light svg path,
.less.light svg path{
    fill: var(--timer-color-light);
}


.florest.light svg path,
.rain.light svg path,
.coffeeShop.light svg path,
.bonfire.light svg path{
    fill:var(--sound-light);
}

.florest.light path ~ path,
.rain.light path ~ path,
.coffeeShop.light path ~ path,
.bonfire.light path ~ path{
    fill:var(--bg-light);
}

.florest.light.select svg path,
.rain.light.select svg path,
.coffeeShop.light.select svg path,
.bonfire.light.select svg path{
    fill:var(--sound-select-light);
}

.florest.light.select path ~ path,
.rain.light.select path ~ path,
.coffeeShop.light.select path ~ path,
.bonfire.light.select path ~ path{
    fill:var(--select-icon-light);
}
